apiVersion: v1
kind: Service
metadata:
  name: ultralytics
  labels:
    app: ultralytics
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: ultralytics
